<head>
	  <link rel="stylesheet" href="styles.css">
</head>


<div class="head">
	<img src="content\logo.png">
</div>

<body>
	<h1> Dane szpitala 1</h1>
<div class="data">
	<ul>
		<h3> DataType1</h3>
		<li><a href="link">data11</a></li>
		<li><a href="link">data12</a></li>
		<li><a href="link">data13</a></li>
		<li><a href="link">data14</a></li>
	</ul>

	<ul>
		<h3> DataType2</h3>
		<li><a href="link">data21</a></li>
		<li><a href="link">data22</a></li>
		<li><a href="link">data23</a></li>
		<li><a href="link">data24</a></li>
	</ul>

	<ul>
		<h3> DataType3</h3>
		<li><a href="link">data31</a></li>
		<li><a href="link">data32</a></li>
		<li><a href="link">data33</a></li>
		<li><a href="link">data34</a></li>
	</ul>

</div>















<button><a class="go_back_button" href="/chrobry">go back</a></button>
